#produtos2{
    background-color:#fffbce ;

    
    h1 {
        color: $color-bg-boxes;
        padding: 2rem;
        font-size: 3rem;
        display: flex;
        align-items: flex-start;
    }
}
