#sobre{
    display: flex;
    align-self: start;
    background-color: #062844 ;
    max-width: 85%;
    border-radius: 3rem;
    padding: 1rem;
    margin: 12rem;

}
    .container {
    
    article {
        h1 {
            color: $color-bg-boxes;
            font-size: 3rem;
            text-align: left;
        }
        p {
            color: $font-color-primary;
            font-size: 1.5rem;
        }
   }
}