.vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 500px;

    &__item {
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-width: 20rem;
        height: 400px;
        padding: .25rem 1rem;
        -webkit-box-shadow:inset 3px 4px 2px 2px #FAF7F8;
box-shadow:inset 3px 4px 2px 2px #f3f2f2;
    }

    &__button {
        background-color: #0e1b36;
        color: #fff;
        font-weight: bold;
        border-radius: 1rem;
        border: 1px solid $color-bg-default;
        padding: 1rem 1rem;
        font-size: $font-size-default;
        text-decoration: none;
        align-self: center;
        margin-bottom: 2rem;
       
    }
    &__produtos {
        color: $color-bg-boxes;
        display: flex;
        align-items: center;
        font-size: $font-size-default;
    }
   &__desc {
      color: black;
      font-family: sans-serif;
      font-size: $font-size-nav;
      font-weight: 400;
   }
}